.map-container {
    box-sizing: initial;
    border: 2px solid #393939;
    height: 300px;
    width: 100%;
}

.map-container button {
    width: auto;
}

@media screen and (max-width: 600px) {
    .map-container {
        width: 80%;
        margin: 0 auto;
    }
}

