.tag-item {
    background: rgba(57, 41, 107, 0.6);
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 2px 2px #393939;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
}

.tag-item:hover {
    opacity: .9;
}

.tag-item.active {
    background: #313131;
    color: #fff;
}