.restaurant-info {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.restaurant-header {
    margin-top: 3em;
    margin-bottom: 3em;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.restaurant-name {
    margin-bottom: 1rem;
}

.restaurant-name h2 {
    text-transform: capitalize;
}

.container-row {
    margin: 0 auto;
    width: auto;
    display: flex;
}

.half-row-section {
    height: 100%;
    width: 50%;
}

.list-container {
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 4.5rem;
    width: 50%;
}

.single-entry {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 50px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 5px;
    padding: 15px;
    text-transform: capitalize;
}

#tags-container .single-entry {
    background: rgba(57, 41, 107, 0.6);
}

#filters-container .single-entry {
    background-color: rgba(86, 122, 37, 0.6);
}

.deleteTag-btn {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 1.4rem;
}

.user-entry {
    margin-top: 2.5rem;
}

.input-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-entry button {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.tags-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.tags-select h4 {
    margin-bottom: 1.4rem;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6rem;
}

#go-back-btn {
    background-color: #393939;
    color: #fff;
    width: 60%;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 992px) {
    .container-row {
        flex-direction: column;
    }
    .half-row-section {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .restaurant-info {
        width: 100%;
    }

    .restaurant-header {
        flex-direction: column;
    }

    .info-section {
        align-items: center;
        margin-bottom: 2rem;
    }
}