.restaurant-info {
    text-align: center;
}

.restaurant-info h2 {
    text-transform: capitalize;
}

.tags-container {
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 35%;
}

.single-entry {
    background-color: #646;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px 15px 9px 15px
}

.deleteTag-btn {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 1.4rem;
}