.restaurant-card {
    background: #fcfcfb;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    color: #494949;
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 15px;
}

.restaurant-card h4 {
    margin-left: 30px;
    text-transform: capitalize;
}