.account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 10rem);
    width: 70%;
    margin: 0 auto;
}

.page-title {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

label {
    font-weight: bold;
}

.select, button {
    width: 30%;
}

.import-btn {
    margin-top: 2.5rem;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 600px) {

    .account-page {
        width: 100%;
    }

    .select, button {
        width: 60%;
    }
    
}