.search-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-input {
    margin-top: 0;
    padding: 10px 20px;
    border: 2px solid #393939;
    border-radius: 25px;
    width: 50%;
}

.search-icon {
    position: relative;
    right: 2rem;
    cursor: pointer;
}

.add-new-restaurant-btn {
    background-color: crimson;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: lowercase;
    width: fit-content;
}