.navbar {
    background: #393939;
    color: #fff;
    height: 5rem;
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.logo {
    margin-left: 1.5rem;
    cursor: pointer;
}

.auth-btn {
    display: flex;
}

.login-btn {
    cursor: pointer;
}

.user-icon {
    font-size: 1.4rem;
    margin-left: 1.4rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.toggle-btn {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
}

.toggle-btn .bar {
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .navbar-container {
        width: 95%;
    }

    .toggle-btn {
        display: flex;
    }
    .auth-btn {
        display: none;
    }
}