.navbar {
    background: #393939;
    color: #fff;
    height: 5rem;
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.logo {
    margin-left: 1.5rem;
    cursor: pointer;
}

.auth-btn {
    display: flex;
}

.user-icon {
    font-size: 1.4rem;
    margin-left: 1.4rem;
    margin-right: 1.5rem;
    cursor: pointer;
}