.footer {
    background: #393939;
    color: #fff;
    height: 5rem;
    font-weight: bold;
}

.footer-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.footer-container div {
    margin-left: 1.5rem;
}

@media screen and (max-width: 600px) {
    .footer-container {
        width: 95%;
    }
}