.restaurant-page {
    text-align: center;
    min-height: calc(100vh - 10rem);
    width: 80%;
}

.restaurant-list {
    margin: 15px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
}

.show-more-results {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    margin-bottom: 15px;
}

#show-more-btn {
    background-color: #393939;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .restaurant-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .restaurant-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .restaurant-page {
        width: 100%;
    }
    #show-more-btn {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .restaurant-list {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }
}

@media screen and (max-width: 600px) {
    #show-more-btn {
        width: 80%;
    }
}