.restaurant-page {
    text-align: center;
    width: 80%;
}

.restaurant-list {
    margin: 15px;
}

.show-more-results {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    margin-bottom: 15px;
}

#show-more-btn {
    background-color: #393939;
    color: #fff;
}

@media screen and (max-width: 992px) {
    #show-more-btn {
        width: 80%;
    }
}