* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    min-height: 100vh;
    width: 79%;
    background-color: #313131;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #646;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

input {
    margin-top: 15px;
    padding: 10px 20px
}

.entries-list {
    background-color: #494949;
    display: flex;
    margin-top: 15px;
}

.single-entry {
    background-color: #646;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: start;
    margin: 5px;
    padding: 5px 15px 9px 15px
}

.single-entry div {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    margin-left: 15px;
}