* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #393939;
}

button {
    background-color: #393939;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

input {
    margin-top: 15px;
    padding: 10px 20px
}